#
# General
#
COMPOSE_PROJECT_NAME=parakang

#
# SSL specific configuration
#
AUTHORITY_NAME=paraKang
AUTHORITY_PASSWORD=changeme
COMPANY=paraKang
DOMAIN_NAME=parakang.example.com
COUNTRY_CODE=US
STATE=Georgia
CITY=Atlanta

#
# Database configurations
#
POSTGRES_DB=parakang
POSTGRES_USER=parakang
POSTGRES_PASSWORD=changeme_use_strong_password
POSTGRES_PORT=5432
POSTGRES_HOST=db

#
# Celery Scaling Configurations
# For 16GB RAM: MAX=30, MIN=5
# For 32GB RAM: MAX=50, MIN=10
#
MAX_CONCURRENCY=30
MIN_CONCURRENCY=5

#
# ParaKang web interface super user (for non-interactive install)
#
DJANGO_SUPERUSER_USERNAME=parakang
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=changeme_use_strong_password

#
# Redis authentication
#
REDIS_PASSWORD=changeme_use_strong_password
